* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFF;
}

.header {
    width: 100%;
    background-color: #2563eb;
    height: 400px;
    margin-top: -20px;
}

.header .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.text h1 {
    font-size: 45px;
    color: #fff;
    font-weight: bold;
}

.text i {
    font-size: 50px;
    color: #85B2F7;
    margin-top: 50px;
}

.text p {
    color: #dbeafe;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    text-align: center;
    margin-top: 10px;
}

.pesan-kontak {
    width: 100%;
    margin-top: 50px;
    padding: 40px;
}

.wrapper-callme {
    display: flex;
    flex-direction: row;
}

.form-pesan {
    width: 50%;
    height: 560px;
    background-color: #F9FAFB;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.form-pesan .content-pesan {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content-pesan h2 {
    color: #2563eb;
    margin-bottom: 15px;
}

.content-pesan form div{
    display: flex;
    flex-direction: column;
}

.content-pesan form label {
    color: #374151;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 20px;
}

.content-pesan form input {
    border: none;
    height: 40px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.content-pesan form textarea {
    border: none;
    height: 70px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px ;
}

input::placeholder {
    font-weight: 500;
}

textarea::placeholder {
    font-weight: 500;
}

.content-pesan form button {
    margin-top: 25px;
    border: none;
    background-color: #2563eb;
    height: 40px;
    border-radius: 10px;
    color: #FFFF;
    font-weight: bold;
}

.info-kontak {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.content-kontak h2{
    color: #2563eb;
    margin-bottom: 20px;
}

.field div {
    margin-top: 30px;
    width: 190%;
    background-color: #EFF6FF;
    height: 120px;
    border-radius: 5px;
    padding-top: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.field span {
    color: #2563eb;
    font-weight:bold;
    margin-left: 30px;
    font-size: 20px;
}

.field span i {
    padding-right: 15px;
}

.field p {
    font-size: 13px;
    color: #4B5633;
    margin-left: 70px;
    margin-top: 5px;
    width: 220px;
}

.field .telepon {
    height: 100px;
}

.field .email {
    height: 100px;
}

.wrapper-peta {
    background-color: #fff;
    margin-top: 50px;
    padding: 50px;
    height: 60rem;
}

.peta {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.peta h2 {
    color: #2563eb;
    margin-bottom: 50px;
    font-size: 2rem;
}

.lokasi {
    width: 80%;
    height: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.leaflet-container {
  z-index: 1;
}

@media (max-width: 480px) {
  .header .text {
    margin-top: -3rem;
  }
  .text i {
    margin-top: 0;
  }
  .header .text h1{
    font-size: 2rem;
  }
  .text p {
  width: 400px;
  }
.pesan-kontak {
    padding: 25px;
}
.wrapper-callme {
    display: flex;
    flex-direction: column;
}

.form-pesan {
    width: 100%;
    height: 560px;
}
.info-kontak {
    margin-left: 0;
    margin-top: 5rem;
}

.field div {
    margin-top: 20px;
    width: 100%;
}
.peta {
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
    padding: 10px;
}

.lokasi {
    width: 90%;
    height: 80%;
}

}